<!DOCTYPE html>
<html>
<head>
  <title>IndexCard projects</title>
<!-- BOOSTRAP LINK FOR STYLING -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div id="firstAddBtn">
<img src="images/circleBtn1.png">
</div>

<div class="subj"> 
  <%= userInfo.class.forEach(function(inputData, index)){ %>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title"><%= inputData.className %></h5>  
      </div>
    </div>
    <% }); %>
</div>

<hr>

<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">Index card info: </div>
  <div class="card-body text-success">
    <!-- <h5 class="card-title">Success card title</h5> -->
    <p class="card-text">Write your study notes here</p>
  </div>
  <div class="card-footer bg-transparent border-success">Resources</div>
</div>

<div id="secondAddBtn">
<img src="images/circleBtn1.png">
</div>


<div class="grid-container">
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>  
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>
  <div class="grid-item">index photo</div>  
<!--   <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div> -->  
</div>


</body>
</html>

