<!DOCTYPE html>
<html>
<head>
  <title>IndexCard projects</title>
<!-- BOOSTRAP LINK FOR STYLING -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div>
  <a href="/profile"><img id="backbutton" src="https://lh3.ggpht.com/sqPcTNRtM6vc4pzWXWXIR6KxnRwbIz4LIYKvqwr1l__gPYkx24sV4Ak1oc2sN99dVA=w300"></a>
</div>

<div class="container">
  <div class="subj"> 

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <h4 class="display-4">Notes</h4>
      <p class="lead"><%= deckdata.decks[deckindex].cards[currentcard] %></p>
    </div>
  </div>

  <div id="firstAddBtn">
    <img src="images/circleBtn1.png" onclick="addNewDeck(this)">
  </div>
  <div class="grid-container">
    <% deckdata.decks[deckindex].cards.forEach(function(inputData, index){ %>
      <a href="/decks/cards/<%= index %>"><div class="grid-item"><%= index %></div></a>
    <% }); %>


    <!-- <div class="grid-item">index photo</div>
    <div class="grid-item">index photo</div>
    <div class="grid-item">index photo</div>  
    <div class="grid-item">index photo</div>
    <div class="grid-item">index photo</div>
    <div class="grid-item">index photo</div>   -->
  <!--   <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div> -->  
  </div>
</div>

</body>
</html>

