
body {
  background-image: url(images/dust_scratches.png);
  height:100%;
 /* text-align: center;*/
}
h1 { 
  color: #708090  ; 
  font-family: "Great Vibes", cursive; 
  font-size:100px; 
  line-height: 100px; 
  font-weight: normal;  
  margin-top: 30px;
  margin-bottom: 50px; 
  text-align: center; 
  text-shadow: 0 4px 1px #fff; 
}
.center{
    width: auto;
    position: relative;
    top: 100px;
    margin-left: 31%;
    margin-right: 31%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
    background: rgba(0, 0, 0, .2);
    box-shadow: 20px 18px 80px #000;
    overflow: auto;

}

h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
h5{
  text-align: center;
}

.move{
  display: inline-block;
  overflow: hidden;
}
#subjSec{
  display: inline-block;
  margin-top: 20px;
}

hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.2px;
}
#firstAddBtn{
    float: right;
    padding-top: 30px;
    padding-right: 20px;
}

#secondAddBtn {
    float: right;
    padding-bottom: 80px;
    padding-right: 20px;
     
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 40px;
  padding-right: 150px;
  padding-bottom: 40px;

}
.grid-item {
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid rgba(0, 255, 0, 0.2);
  padding: 60px;
  font-size: 30px;
  text-align: center;
}
.flashCards{
  width: 200px;
  height: 100px;
}
#backbutton{
  width: 50px;
  height: 50px;
  float: left;
}

